<div class="painter" v-bind:class="cursorClass">

    <div class="painter-tools">
        <button (click)="clearCanvas()">
            <i class="fa fa-2x fa-file-o" aria-hidden="true"></i>
        </button>
        <button (click)="undo()">
            <i class="fa fa-2x fa-undo" aria-hidden="true"></i>
        </button>
        <button (click)="changeTool('fill')">
            <i class="fa fa-2x fa-tint" aria-hidden="true"></i>
        </button>
        <button (click)="changeTool('brush')">
            <i class="fa fa-2x fa-paint-brush" aria-hidden="true"></i>
        </button>
        <button (click)="changeBrushSize(4)">
            <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
        </button>
        <button (click)="changeBrushSize(-4)">
            <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
        </button>

        <div *ngFor="let color of colors" class="color" [class.selected-color]="color.isSelected" [style.background-color]="color.hex"
            [title]="color.name" (click)="changeForegroundColor(color)">
        </div>
    </div>

    <div class="canvas">
        <canvas #myCanvas width="500" height="500" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)"
            (mouseout)="mouseOut($event)">

        </canvas>
    </div>

    <div class="debug alert alert-danger">
        <ul>
            <li>
                <label>MousePosition:</label> {{ mousePosition.x }}, {{ mousePosition.y }}</li>
            <li>
                <label>CurrentTool:</label> {{ currentTool }}</li>
            <li>
                <label>BrushSize:</label> {{ brushSize }}</li>
            <li>
                <label>ForegroundColor:</label> {{ foregroundColor }}</li>
            <li>
                <label>IsDrawing:</label> {{ isDrawing }}</li>
            <li>
                <label>DrawingDirection:</label> {{ drawingDirection }}</li>
            <li>
                <label>ConfirmOperation:</label> {{ confirmOperation }}</li>
        </ul>
    </div>
</div>