<h1>Users</h1>

<input class="form-control" type="text" placeholder="Filter users on..." [(ngModel)]="filter" (keyup)="applyFilter()" />
<a [routerLink]="" *ngIf="filter.length > 2" (click)="resetFilter()">Reset</a>
<hr>

<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Username</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            <a [routerLink]="['/admin/users/', user._id]">{{user.name}}</a>
            <span *ngIf="user.type == 0" class="badge badge-info">Admin</span>
        </td>
        <td>{{user.username}}</td>
    </tr>
</table>