<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" [routerLink]="['/']">ca7o</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/news']">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/wesketch']">Wesketch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!auth.currentUser">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="auth.currentUser" class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="">{{auth.currentUser.name}}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>

                    <div *ngIf="auth.currentUser.username.includes('cskogholt@gmail.com')">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" [routerLink]="['/admin']">Admin</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-muted" target="_blank" href="https://ca7o.herokuapp.com/">ca7o (prod)</a>
                        <a class="dropdown-item text-muted" target="_blank" href="https://github.com/catos">Catos github</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-muted" target="_blank" href="https://angular.io/tutorial">Angular</a>
                        <a class="dropdown-item text-muted" target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
                        <a class="dropdown-item text-muted" target="_blank" rel="noopener" href="https://socket.io/docs/">Socket IO</a>                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-muted" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                        <a class="dropdown-item text-muted" target="_blank" href="https://fontawesome.com/icons?d=gallery">Fontawesome</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>