.nav-bar {
    display: flex;    
    background-color: whitesmoke;
    list-style: none;
}

.nav-bar li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-bar li a:hover {
    background-color: lightgrey;
}