<ul class="nav-bar">
    <li>
        <a [routerLink]="['/']">ca7o</a>
    </li>
    <li>
        <a [routerLink]="['/content']">Content</a>
    </li>
    <li>
        <a [routerLink]="['/admin']">Admin</a>
    </li>
    <li>
        <a target="_blank" href="https://ca7o.herokuapp.com/">ca7o (prod)</a>
    </li>
    <li>
        <a target="_blank" href="https://angular.io/tutorial">Angular</a>
    </li>
    <li>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </li>
    <li>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </li>
</ul>